table.version-table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

.version-table th,  .version-table td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.version-table th{
    background-color: #f2f2f2;
    text-align: center;
}

.selected-version {
    background-color: #2ead2e;
}